// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$main-purple: #635fc7;
$background: #f4f7fd;
$headerbackground: #373b53;
$white: #ffffff;
$mediumgrey: #828FA3;
$font: "Plus Jakarta Sans", sans-serif;
